body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 15px;
  margin-bottom: 30px;
}

.organigrama {
  max-width: 1250px;
  margin: auto;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-bottom: 25px;
}

.centro {
  align-items: center;
}

.grupos {
  align-items: flex-start;
}

.grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 240px;
}

.grande-grupo {
  width: 520px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.area {
  color: #25258f;
  font-size: 15px;
  margin: 20px 0 10px;
  font-weight: 500;
}

.card {
  background: #2f3192;
  color: white;
  border: 2px solid #2f3192;
  width: 200px;
  min-height: 60px;
  padding: 8px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.grande {
  width: 230px;
  min-height: 70px;
  font-size: 15px;
}

.small {
  background: white;
  color: #2f3192;
  width: 180px;
  min-height: 50px;
  font-size: 9px;
}

.card:hover {
  background: #4446b5;
  color: white;
}

@media (max-width: 900px) {
  .organigrama {
    overflow-x: auto;
  }

  .fila {
    min-width: 1000px;
  }
}
